.datatable .col {
  cursor: pointer;
  color: white;
  background-color: rgb(75, 155, 187);
}

.datatable .col .pointer:after {
  font-size: 80%;
  content: "";
  margin-right: 18px;
}

.datatable .col .pointer:hover:after {
  font-size: 80%;
  content: "🔻";
  margin-right: 0;
}
